@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  background-color: $favColor;
  color: $fontColor;
  font-family: 'Cairo', sans-serif;
}

.nav-border {
  border-bottom-left-radius: 3px;    
  border-bottom-right-radius: 3px;
  }

.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
